.App {
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-image {
  max-width: 100px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product1-image {
  margin-top: 2rem;
  max-width: 700px;
}

.product1-image:hover {
  transform: scale(1.1);
  transition: transform ease-out 0.4s;
  cursor: pointer;
}

.text {
  margin-top: 2rem;
  text-align: center;
}
