.App {
  font-family: 'Gill Sans';
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

a {
  color: black;

  &:hover {
    color: grey;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.logo-image {
  max-width: 50px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product1-image {
  margin: 5rem 0;
  max-width: 35rem;
}

.product1-image:hover {
  transform: scale(1.1);
  transition: transform ease-out 0.4s;
  cursor: pointer;
}

.text {
  margin-top: 2rem;
  text-align: center;
}

.main-page {
  justify-content: space-evenly;
}

.terms-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: smaller;
}

@media screen and (max-width: 640px) {
  .product1-image {
    max-width: 80%;
  }

  .terms-page {
    max-width: 70%;
    font-size: x-small;
  }

  h2 {
    font-size: medium;
  }
}
